<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-food-entry-heading" data-cy="FoodEntryCreateUpdateHeading">Create or edit a Food Entry</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_mealtype">Mealtype</label>
          <select class="form-control" name="mealtype" formControlName="mealtype" id="field_mealtype" data-cy="mealtype">
            <option [ngValue]="null"></option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Snack">Snack</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_foodDay">Food Day</label>
          <select class="form-control" id="field_foodDay" data-cy="foodDay" name="foodDay" formControlName="foodDay">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="foodDayOption.id === editForm.get('foodDay')!.value?.id ? editForm.get('foodDay')!.value : foodDayOption"
              *ngFor="let foodDayOption of foodDaysSharedCollection; trackBy: trackFoodDayById"
            >
              {{ foodDayOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="appUserOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : appUserOption"
              *ngFor="let appUserOption of appUsersSharedCollection; trackBy: trackAppUserById"
            >
              {{ appUserOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
